@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--bs-font-sans-serif: "Noto Sans", "Noto Color Emoji", sans-serif;
	--bs-font-monospace: "Noto Sans Mono", monospace;
}

emoji-picker {
	--emoji-font-family: "Noto Color Emoji";
}

/*.noto-color-emoji-regular {
	font-family: "Noto Color Emoji", sans-serif;
	font-weight: 400;
	font-style: normal;
}*/

.emoji-picker-tooltip:not(.shown) {
	display: none;
}

/* TurboGears flash bootstrap look */
#flash>div {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #c09853;
}

#flash>.ok {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

#flash>.error {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

#flash>.info {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

/* Footer styling */
.footer {
	margin-top: 45px;
	padding: 35px 30px 36px;
	border-top: 1px solid #e5e5e5;
}

.footer p {
	margin-bottom: 0;
	color: #555;
}

.crud-sidebar {
	display: list-item;
}

/* .pagination.pull-sm-right li a {
	padding: .5rem;
	margin: .25rem;
	border: 1px solid #a5a5a5;
} */
form li {
	margin-top: 2rem;
}

form li label {
	font-size: 2rem;
	padding-top: 1rem;
	display: block;
}

form li .form-check-input, span.error {
	display: block;
}

form span.error {
	color: var(--bs-danger);
	font-size: 1.5rem;
	font-weight: bolder;
}

.xtwitter-img {
	min-height: 10rem;
}

.rounded-top-start {
	border-top-left-radius: var(--bs-border-radius) !important;
}

.rounded-top-end {
	border-top-right-radius: var(--bs-border-radius) !important;
}

.rounded-bottom-start {
	border-bottom-left-radius: var(--bs-border-radius) !important;
}

.rounded-bottom-end {
	border-bottom-right-radius: var(--bs-border-radius) !important;
}